@page
@model IndexModel
@{
   // ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html lang="en" >
   
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Авто ремонт</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/atest.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/img/heder.svg" asp-append-version="true" />
    
</head >
<div class="map">
	<iframe src="https://www.google.com/maps/embed?pb=
!1m18!1m12!1m3!1d576.216212030343!2d58.56354182922025!
3d56.371814869542945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!
4f13.1!3m3!1m2!1s0x43c319c9a1679465%3A0xf050bf3ccb4315
b4!2z0J_QsNC90YLQtdC70LXQudC60L7QstC-LCDQodCy0LXRgNC00L
vQvtCy0YHQutCw0Y8g0L7QsdC7LiwgNjIzMzQw!5e1!3m2!1sru!2sru
!4v1701105416741!5m2!1sru!2sru" width="600" height="450" 
	style="border:0;" allowfullscreen="" loading="lazy" 
	referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<div class="map-name">
   
     
         <h1><a asp-area="" asp-page="/Index" class="r">Вернутся в главное меню</a></h1>
     
</div>
