
@page
@model IndexModel
@{
   // ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Aндрей 8930434545</h1>
     <h1 class="display-4">Зам. Максим 89630436644</h1>
    <img src=~/lib/img/oposym.jpg/>
</div>
