@page
@model IndexModel
@{
   // ViewData["Title"] = "Home page";
}
<div class="fon">
	<div class="price">
		<div class="h1">
			ремонт детали со следаи коррозии <h1>от 7000 р.</h1>
		</div>
		<div class="h1">
			окрас новой детали без дефектов <h1>от 5000 р.</h1>
		</div>
		<div class="h1">
			окрас бампера с применением пайки <h1>от 7000 р.</h1>
		</div>
		<div class="h1">
			окрас детали с незначительными повреждениями <h1>от 6000 р.</h1>
		</div>
		<div class="h1">
			полный окрас <h1>от 130 000 р.</h1>
		</div>
		<div class="h1">
			<h1><a asp-area="" asp-page="/Index" class="r">Вернутся в главное меню</a></h1>
		</div>
	</div>


</div>